/* CSS Document */
@charset "utf-8";

p {
  font-size: 1.4rem;
  font-family: "Krub", sans-serif;
  font-weight: 400;
  color: slategray;
}

a {
  color: dodgerblue;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

body {
  width: 85%;
  margin: 0 auto;
}
